{% include 'header.html' %}
    <header class="masthead" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.59MN2hVAn_FXaSZc5EbBPQHaEo%26pid%3DApi&f=1')">
<!--    <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">-->
<!--    <header class="masthead" style="background-image: url({{ url_for('static', filename='assets/img/home-bg.jpg')}})">-->
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="site-heading">
                        <h1>Clean Blog</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Main Content-->
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
            {% for item in data: %}
                <!-- Post preview-->
                <div class="post-preview">
                    <a href="{{ url_for('show_detail', index=item.id) }}">
                        <h2 class="post-title">{{ item.title }}</h2>
                        <h3 class="post-subtitle">{{ item.subtitle }}</h3>
                    </a>
                    <p class="post-meta">
                        Posted by
                        <a href="#!">{{ item.author }}</a>
                        on {{ item.date }}
                        <a href="{{ url_for('delete', index=item.id) }}">✘</a>
                    </p>
                </div>

                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}

                <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{{ url_for('new_post') }}">Create New Post</a></div>
            </div>
        </div>
    </div>
{% include 'footer.html' %}
